.toggle {
  @apply inline-block relative cursor-pointer bg-transparent p-0 border-0;

  touch-action: pan-x;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.toggle-input {
  @apply border-0 overflow-hidden p-0 absolute;

  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  width: 1px;
}

.toggle-check,
.toggle-uncheck {
  @apply absolute -inset-y-0 my-auto opacity-0;

  width: 10px;
  height: 10px;
  line-height: 0;
  transition: opacity 300ms ease;
}

.toggle-check {
  left: 8px;
}
.toggle-uncheck {
  opacity: 1;
  right: 10px;
}

.toggle-uncheck span,
.toggle-check span {
  @apply flex items-center justify-center relative;

  height: 10px;
  width: 10px;
}

.toggle-container {
  @apply bg-gray-500 p-0 rounded-full;

  width: 36px;
  height: 18px;

  &.v2 {
    background-color: var(--purple-30);

    width: 32px;
    height: 20px;
  }
}

.toggle-container.checked {
  @apply bg-blue-lighter;

  &.v2 {
    background-color: var(--purple-70);
  }
}

.toggle-circle {
  @apply absolute bg-white box-border rounded-full border border-gray-500;

  transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
  top: 1px;
  left: 1px;
  width: 16px;
  height: 16px;
}

.toggle.v2 .toggle-circle {
  border-color: var(--purple-30);
  top: 2px;
  left: 2px;
}

.toggle--checked .toggle-circle {
  @apply border-blue-lighter;

  left: 19px;
}

.toggle--checked.v2 .toggle-circle {
  border-color: var(--purple-70);
  left: 14px;
}

.toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}
