.input {
  @apply w-full border px-4 py-2 rounded;
  
  border-color: #D1D8DC;
}

.input:focus {
  @apply outline-none border border-blue;
}

.input.isRounded {
  @apply rounded;
}

.input-label {
  @apply inline-block text-blue text-sm mt-2;
}

.input-label.required::after {
  content: '*';

  @apply font-bold text-dark-red ml-1;
}

.search {
  @apply border-transparent outline-none ml-2 w-1/3;

  border-right: 1px solid #ccc;
  min-width: 0;
  transition: all 500ms ease;
}

.search:focus {
  @apply w-full border outline-none;

  min-width: 100%;
}

form {
  @apply -mt-2;
}

.show-password-toggle {
  @apply absolute px-1;

  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.show-password-toggle:focus {
  @apply outline-none;
}