@import '../../assets/styles/typography.css';

.input {
  @apply w-full border px-4 py-2 rounded;

  border-color: #d1d8dc;

  &.v2 {
    color: var(--purple-90);
    border: solid 1px var(--purple-20);

    &:hover {
      background-color: var(--purple-10);
    }

    &:focus {
      border: solid 1px var(--purple-70);
      background-color: var(--white);
    }

    &::placeholder {
      color: var(--purple-40);
    }

    &.error {
      border: solid 1px var(--red);
    }

    &.isSearch {
      @apply rounded-lg;
      min-width: 264px;
    }
  }
}

.input:focus {
  @apply outline-none border border-blue;
}

.input.isRounded {
  @apply rounded;
}

.input-label {
  @apply inline-block text-blue text-sm mt-2;

  &.v2 {
    @mixin h6;
    @apply mt-6;
    color: var(--purple-90);

    .optional {
      @mixin tooltip;
      color: var(--purple-40);
    }
  }
}

.error-message {
  @mixin tooltip;
  color: var(--red);
}

.input-label.required:not(.v2)::after {
  content: '*';

  @apply font-bold text-dark-red ml-1;
}

.search {
  @apply border-transparent outline-none ml-2 w-4/5;

  border-right: 1px solid #ccc;
  min-width: 0;
  transition: all 500ms ease;
}

.search:focus {
  @apply w-full border outline-none;

  min-width: 100%;
}

.placeholder-icon {
  @apply absolute z-10;
  color: var(--purple-70);
  top: 9px;
  left: 11px;
}

form {
  @apply -mt-2;
}

.show-password-toggle {
  @apply absolute px-1;

  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  &.v2 {
    color: var(--purple-40);
  }
}

.show-password-toggle:focus {
  @apply outline-none;
}
