@import '../../assets/styles/mixins.css';
@import '../../assets/styles/typography.css';

.FrequencyTable {
  .columnNames {
    @apply hidden;
  }

  .columns {
    @apply flex overflow-x-scroll pb-8;

    & > div {
      @apply flex-shrink-0;

      width: calc(20% - 1rem);
      min-width: 180px;

      .head {
        height: 150px;
      }

      & > div {
        @apply m-4 mt-6;
        height: 110px;

        &:not(.head) {
          @apply border-t pt-6;
          border-color: var(--purple-20);
        }
      }
    }

    .titles {
      border-top-width: 12px;
      border-top-color: transparent;

      & > div {
        @apply mr-0;
      }
      & > div:nth-child(2) {
        @apply pt-2;
        border-color: transparent;
      }

      h6 {
        @apply mb-2;
      }

      p {
        @mixin tooltip;
      }
    }

    .data {
      @apply rounded-xl border ml-4;

      border-color: var(--purple-20);
      border-top-width: 12px;

      &:hover {
        box-shadow: 0px 8px 20px var(--shadow-20);
      }

      & > div {
        @apply text-center;
        @mixin body-small;
      }

      img {
        @apply mx-auto mb-4;
      }

      &.low {
        border-top-color: var(--purple-70);
      }
      &.moderate {
        border-top-color: var(--yellow-90);
      }
      &.substantial {
        border-top-color: var(--orange-80);
      }
      &.high {
        border-top-color: var(--red);
      }
    }
  }
}

@mixin for-size-phone {
  .FrequencyTable {
    .columnNames {
      @apply flex overflow-hidden;

      padding-left: calc(50% - 98px);

      & > div {
        @apply text-center rounded-xl border ml-4 overflow-hidden;
        min-width: 180px;

        &.dummy {
          @apply border-transparent;
        }

        img {
          @apply mx-auto mb-4;
        }

        &.active {
          border-color: var(--purple-70);
        }

        & > div {
          @apply p-6 overflow-hidden;
          border-top-width: 12px;

          &.low {
            border-top-color: var(--purple-70);
          }
          &.moderate {
            border-top-color: var(--yellow-90);
          }
          &.substantial {
            border-top-color: var(--orange-80);
          }
          &.high {
            border-top-color: var(--red);
          }
        }
      }
    }

    .columns {
      .head {
        @apply hidden;

        & + div {
          @apply border-transparent;
        }
      }

      .titles {
        @apply w-1/2 border-0;
      }

      .data {
        @apply w-1/2 ml-0 border-0;
        & > div {
          @apply ml-0 pl-4;

          &:nth-child(2) {
            border-color: transparent;
          }
        }
      }
    }
  }
}
