@import '../../assets/styles/typography.css';

.static-content-v2 {
  div {
    @apply flex;
  }

  .prose {
    color: var(--purple-90);

    h3 {
      @apply mt-0;
      @mixin h5;

      color: var(--purple-90);
    }

    .page-outline {
      @apply hidden;
    }

    ol > li {
      @apply rounded-2xl bg-white border p-6 my-6;
      @mixin body;

      border-color: var(--purple-20);

      &::before {
        content: '';
      }

      ul > li {
        @apply my-0;
      }
    }
  }
}
