@import '../../assets/styles/mixins.css';
@import '../../assets/styles/typography.css';

.MobileCell {
  @apply bg-white p-4 mt-4 border-b;

  height: 256px;
  border-color: var(--purple-30);

  .head {
    @apply flex justify-between items-center mb-2;
  }

  .field {
    @apply flex items-baseline;

    &.tall {
      height: 48px;
    }

    > * {
      &:first-child {
        @apply flex-shrink-0;
        @mixin label;

        width: 85px;
      }

      &:last-child {
        @apply whitespace-normal;
        @mixin body-small;
      }
    }
  }
}
