@import '../../assets/styles/mixins.css';
@import '../../assets/styles/typography.css';

.TableMobile {
  .ag-theme-rt-v2 {
    @apply mt-3;

    .ag-header-row {
      @apply bg-transparent overflow-visible;

      .ag-header-cell {
        @apply p-0;

        border-color: transparent;
        background-color: transparent;
      }
    }
    .ag-header-row-floating-filter {
      background-color: transparent;

      .ag-header-cell {
        @apply p-0;
      }
    }
  }

  .selector {
    @apply rounded-lg bg-white px-4 py-2 mt-4;
  }

  .pagination-panel {
    @apply pb-2 pt-6 flex justify-center items-center;

    background-image: linear-gradient(
      0deg,
      var(--purple-10-ff) 0%,
      var(--purple-10-ff) 80%,
      var(--purple-10-00) 100%
    );
    min-height: 70px;
  }

  .paging-text {
    @apply px-2;
    @mixin body-small;
    strong {
      @mixin h6;
    }
  }

  .paging-button {
    @apply px-2 text-3xl;
    color: var(--purple-70);
  }

  .paging-button:disabled {
    @apply opacity-50 cursor-not-allowed;
    color: var(--purple-30);
  }

  .paging-button:last-child {
    @apply pr-0;
  }

  .header-cell {
    .header-cell-checkbox {
      @apply px-4 py-3 rounded-lg;

      background-color: var(--purple-20);

      .checkboxWrapper {
        @apply mr-0;
      }
    }
  }
}
