@import '../../assets/styles/mixins.css';

.footer-v2 {
  @apply bg-white;

  .wrapper {
    @apply px-5 flex justify-between items-center mx-auto;

    height: 96px;
    /* Map z-index is 400 */
    z-index: 401;

    max-width: 1224px;
  }

  .copy {
    font-size: 18px;
    line-height: 34px;
  }
}

@mixin for-size-tablet-or-phone {
  .footer-v2 {
    .wrapper {
      @apply justify-center;
    }
  }
}
