:root {
  --green: #7ac142;
  --curve: cubic-bezier(0.65, 0, 0.45, 1);
}

.success-check {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  box-shadow: inset 0 0 0 var(--green);
  animation: fill 400ms ease-in-out 500ms forwards,
    scale 300ms ease-in-out 1300ms both;
}

.success-check.persist {
  animation: fill 400ms ease-in-out 500ms forwards,
    scalePersistent 300ms ease-in-out 1300ms both;
}

.success-check__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: var(--green);
  fill: none;
  animation: stroke 600ms var(--curve) forwards;
}

.success-check__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 300ms var(--curve) 1000ms forwards;
}

@keyframes stroke {
  55% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    transform: scale3d(0, 0, 0);
  }
}

@keyframes scalePersistent {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0 0 0 30px var(--green);
  }
}
