@import '../../assets/styles/mixins.css';
@import '../../assets/styles/typography.css';

.ag-theme-rt-v2 {
  color: rgba(31, 41, 55, 1);

  .ag-root-wrapper-body {
    min-height: 24rem;
  }

  .ag-header-row {
    @apply bg-white;
  }

  .ag-header-cell {
    @apply text-left uppercase border-b px-2;
    @mixin label;
    color: var(--purple-40);
    border-color: var(--purple-30);
  }

  .ag-row {
    @apply bg-white;
  }

  .ag-row:hover {
    background-color: var(--purple-10);
  }

  .ag-cell {
    @apply border-b border-gray-400 flex items-center px-2;
    @mixin body-small;
    color: var(--purple-90);
    border-color: var(--purple-30);

    img.cursor-pointer {
      width: 40px;
      height: 40px;
    }
  }

  .ag-header-cell-resize {
    height: 50%;
    margin-top: 12px;
    transition: all 250ms ease-in-out;
  }

  * {
    @apply outline-none;
  }

  .ag-react-container {
    @apply w-full;
  }

  .ag-paging-panel {
    @apply flex justify-between;
  }

  .ag-paging-row-summary-panel-number {
    @apply font-bold;
  }

  .pagination-panel {
    @apply pb-2 pt-6 flex fixed bottom-0 left-0 right-0 flex-1 justify-between items-center mb-14;

    background-image: linear-gradient(
      0deg,
      var(--purple-10-ff) 0%,
      var(--purple-10-ff) 80%,
      var(--purple-10-00) 100%
    );
    padding-left: 8.5vw;
    padding-right: 8.5vw;
    min-height: 70px;
  }

  .paging-button {
    @apply px-2;
  }

  .paging-button:disabled {
    @apply opacity-50 cursor-not-allowed;
  }

  .ag-overlay-wrapper .ag-react-container {
    @apply h-full;
  }

  .ag-overlay-loading-center {
    @apply w-full h-full flex items-center justify-center bg-white bg-opacity-75;
  }

  .header-sort {
    @apply opacity-50 transition-opacity;
  }

  .header-cell:hover {
    .header-sort {
      @apply opacity-100;
    }
  }

  .status {
    @apply px-2 py-1 rounded-lg;
    &.active {
      color: var(--green-80);
      background-color: var(--green-10);
    }

    &.inactive {
      color: var(--purple-80);
      background-color: var(--purple-10);
    }

    &.pending {
      color: var(--red);
      background-color: var(--orange-10);
    }
  }
}

.actionIcon {
  span {
    @mixin h6;
    color: var(--purple-70);
  }
}
