@import '../../assets/styles/mixins.css';
@import '../../assets/styles/typography.css';

.HomeV2 {
  @apply pb-8;

  .path {
    stroke-width: 2;
    stroke-dasharray: 4 6;
    animation: dash 0.75s linear reverse infinite;
  }

  .pathReverse {
    stroke-width: 2;
    stroke-dasharray: 4 6;
    animation: dash 0.75s linear infinite;
  }

  @keyframes dash {
    to {
      stroke-dashoffset: 10;
    }
  }

  section {
    &.testingProgram {
      @apply flex items-center py-8 px-14;

      .testingProgramText {
        @apply w-1/2;
      }
      .thumbsUp {
        @apply w-1/2 relative;

        .el5 {
          position: absolute;
          left: 7%;
          bottom: 4%;
        }
      }
    }

    &.whyImportant {
      @apply relative flex items-center py-8 rounded-xl px-14;

      .importantItems {
        @apply w-1/2 flex flex-wrap justify-around;

        .importantItem {
          @apply w-1/2 p-4;

          max-width: 200px;
        }
        .dummy {
          @apply hidden;
        }
      }

      .importantText {
        @apply w-1/2;
      }

      .el4 {
        position: absolute;
        right: 12%;
        bottom: 8%;
      }

      .el7 {
        position: absolute;
        right: 3%;
        top: 25%;
      }
    }

    &.trainingMaterials {
      @apply flex items-center py-8 px-14;

      .trainingMaterialsText,
      .trainingMaterialsPicture {
        @apply w-1/2;
      }
    }

    &.howItWorks {
      @apply px-14 py-8 w-full text-center;
    }

    &.howItWorksColumns {
      @apply flex justify-start overflow-x-scroll px-8 my-8;

      margin-left: -1.5rem;
      margin-right: -1.5rem;
      padding-left: 3rem;
      padding-right: 3rem;
      max-width: 100vw;

      &::-webkit-scrollbar {
        height: 6px;
      }
      &::-webkit-scrollbar-track {
        border-radius: 3px;
        margin-left: 3rem;
        margin-right: 3rem;
        background-color: var(--purple-20);
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background-color: var(--purple-30);
      }
      &::-webkit-scrollbar-thumb:hover {
        background-color: var(--purple-40);
      }
      &::-webkit-scrollbar-thumb:active {
        background-color: var(--purple-40);
      }

      hr {
        @apply my-4 border-t border-b;

        border-color: var(--purple-30);
      }

      .step {
        @apply flex flex-col;

        .subStep {
          width: 150px;
        }

        h5 {
          @apply mb-1;
        }

        & > div {
          @apply flex-grow flex flex-col justify-center;

          .subStep {
            @apply p-4 my-6 rounded-xl;
          }
        }
      }
      .divider {
        @apply flex items-center;
        max-width: 89px;
        margin-top: 60px;
      }
      .dividerPhone {
        @apply hidden;
      }
      .dummy {
        @apply block;
        min-width: 3rem;
      }
    }

    &.forParents {
      @apply relative flex items-center p-14 rounded-xl;

      gap: 1rem;

      .forParentsItems {
        @apply w-1/2 flex flex-wrap justify-around;

        gap: 2rem;

        .forParentsItem {
          @apply flex flex-col rounded-xl border cursor-pointer;

          width: calc(50% - 1rem);
          border-color: var(--purple-40);
          //max-width: 200px;

          h5 {
            @apply m-4 flex-grow;
          }

          .arrow {
            @apply flex p-4 border-t;

            border-color: var(--purple-40);
          }

          &:hover {
            background-color: var(--white);

            h5 {
              color: var(--purple-90);
            }

            .arrow {
              @apply justify-end;
            }
          }
        }
      }

      .forParentsText {
        @apply w-1/2 px-14;
      }

      .el11 {
        position: absolute;
        top: -2%;
        right: 10%;
      }

      .el12 {
        position: absolute;
        left: -1%;
        bottom: 45%;
      }

      .el13 {
        position: absolute;
        right: 25%;
        bottom: 8%;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .HomeV2 {
    section.howItWorksColumns {
      @apply justify-center overflow-x-hidden;
      .dummy {
        @apply hidden;
      }
    }
  }
}

@mixin for-size-tablet-or-phone {
  .HomeV2 {
    @apply pb-0;

    section {
      &.testingProgram {
        @apply px-8;

        h1 {
          @mixin h2;
        }

        .el5 {
          @apply hidden;
        }
      }

      &.whyImportant {
        @apply flex-col rounded-none;

        margin-left: -1.5rem;
        margin-right: -1.5rem;

        h1 {
          @mixin h3;
        }

        .importantItems {
          @apply w-full flex-nowrap m-0 px-14 pt-4 pb-6 mb-4 justify-start overflow-x-scroll;

          margin-right: -3.5rem;
          margin-left: -3.5rem;
          width: 100vw;
          gap: 1.5rem;

          &::-webkit-scrollbar {
            height: 6px;
          }
          &::-webkit-scrollbar-track {
            border-radius: 3px;
            margin-right: 3.5rem;
            margin-left: 3.5rem;
            background-color: transparent;
          }
          &::-webkit-scrollbar-thumb {
            border-radius: 3px;
            background-color: transparent;
          }
          &::-webkit-scrollbar-thumb:hover {
            background-color: transparent;
          }
          &::-webkit-scrollbar-thumb:active {
            background-color: transparent;
          }

          .importantItem {
            @apply rounded-xl;

            min-width: 200px;
            box-shadow: 0px 4px 20px #6d71f91e;
          }
          .dummy {
            @apply block;
            min-width: 2rem;
          }
        }

        .importantText {
          @apply w-full;
        }

        .el4,
        .el7 {
          @apply hidden;
        }
      }

      &.trainingMaterials {
        @apply px-8;

        h1 {
          @mixin h3;
        }
      }

      &.howItWorks {
        h1 {
          @mixin h2;
        }
      }

      &.howItWorksColumns {
        @apply justify-start overflow-x-scroll px-8;

        margin-left: -1.5rem;
        margin-right: -1.5rem;
        padding-left: 3.5rem;
        padding-right: 3.5rem;
        max-width: 100vw;

        .step {
          .subStep {
            min-width: 160px;
          }
        }
        .dummy {
          @apply block;
          min-width: 3.5rem;
        }
      }

      &.forParents {
        @apply flex-col-reverse rounded-none;

        margin-left: -1.5rem;
        margin-right: -1.5rem;

        h1 {
          @mixin h3;
        }

        .forParentsItems,
        .forParentsText {
          @apply w-full px-0;
        }

        .el11,
        .el12,
        .el13 {
          @apply hidden;
        }
      }
    }
  }
}

@mixin for-size-phone {
  .HomeV2 {
    section {
      &.testingProgram {
        @apply flex-col;

        .testingProgramText {
          @apply w-full;
        }
        .thumbsUp {
          @apply w-full mt-8;
        }
      }
      &.trainingMaterials {
        @apply flex-col-reverse;

        .trainingMaterialsText {
          @apply w-full;
        }
        .trainingMaterialsPicture {
          @apply w-full mb-8;
        }
      }
      &.howItWorks {
        @apply px-2;
      }
      &.howItWorksColumns {
        @apply flex-col items-center m-0 px-2 overflow-auto;

        hr {
          @apply hidden;
        }
        .step {
          h5 {
            @apply mt-2;
          }
          > div {
            @apply flex-row;
            gap: 3rem;

            .subStep {
              @apply mt-3 mb-0;
              width: unset;
              min-width: unset;
            }
            .wide {
              @apply flex;

              img {
                @apply mr-4;
              }
            }
          }
        }
        .divider {
          @apply hidden;
        }
        .dividerPhone {
          @apply block;

          &.first {
            margin-bottom: -54px;
          }
        }
      }
      &.forParents {
        .forParentsItems {
          .forParentsItem {
            @apply w-full;
          }
        }
      }
    }
  }
}
