@import '../../assets/styles/mixins.css';
@import '../../assets/styles/typography.css';

.HomeV2 {
  @apply pb-8;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--purple-100);
  }

  h2 {
    @apply mt-4 mb-3;
  }

  .path {
    stroke-width: 2;
    stroke-dasharray: 4 6;
    animation: dash 0.75s linear reverse infinite;
  }

  .pathReverse {
    stroke-width: 2;
    stroke-dasharray: 4 6;
    animation: dash 0.75s linear infinite;
  }

  @keyframes dash {
    to {
      stroke-dashoffset: 10;
    }
  }

  section {
    &.testingProgram {
      @apply flex items-center py-8 gap-8;

      .testingProgramText {
        @apply w-2/5;

        h1 {
          max-width: 400px;
        }
      }
      .people {
        @apply w-3/5 relative;

        img {
          max-heigth: 418px;
        }

        .el5 {
          position: absolute;
          left: 7%;
          bottom: 4%;
        }
      }
    }

    &.whyImportant {
      @apply relative flex items-center py-8 gap-8;

      .importantItems {
        @apply w-1/2 flex flex-wrap justify-between;

        .importantItem {
          @apply w-1/2 p-4 pl-0;

          max-width: 200px;
        }
        .dummy {
          @apply hidden;
        }
      }

      .importantSplit {
        @apply border-r self-stretch;
        border-color: var(--purple-20);
      }

      .importantText {
        @apply w-1/2;

        & > div {
          @apply mx-auto;
          max-width: 417px;
        }
      }

      .el4 {
        position: absolute;
        right: 12%;
        bottom: 8%;
      }

      .el7 {
        position: absolute;
        right: 3%;
        top: 25%;
      }
    }

    &.trainingMaterials {
      @apply flex items-center py-8;

      .trainingMaterialsText,
      .trainingMaterialsPicture {
        @apply w-1/2;
      }
    }

    &.howItWorks {
      @apply py-8 w-full text-center;
      max-width: 780px;
    }

    &.howItWorksColumns {
      @apply flex justify-start overflow-x-scroll my-8;

      max-width: 100vw;

      &::-webkit-scrollbar {
        height: 6px;
      }
      &::-webkit-scrollbar-track {
        @apply mx-5;

        border-radius: 3px;
        background-color: var(--purple-20);
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background-color: var(--purple-30);
      }
      &::-webkit-scrollbar-thumb:hover {
        background-color: var(--purple-40);
      }
      &::-webkit-scrollbar-thumb:active {
        background-color: var(--purple-40);
      }

      hr {
        @apply my-4 border-t border-b;

        border-color: var(--purple-30);
      }

      .step {
        @apply flex flex-col;

        .subStep {
          width: 150px;
        }

        h5 {
          @apply mb-1;
        }

        & > div {
          @apply flex-grow flex flex-col justify-center;

          .subStep {
            @apply p-4 my-6 rounded-xl;
          }
        }
      }
      .divider {
        @apply flex items-center;
        max-width: 89px;
        margin-top: 60px;
      }
      .dividerPhone {
        @apply hidden;
      }
      .dummy {
        @apply block;
        min-width: 1.25rem;
      }
    }

    &.forParents {
      @apply relative flex items-center pt-16 pb-10;

      .forParentsTiles {
        @apply w-1/2 flex flex-wrap justify-around;

        .forParentsTile {
          @apply flex flex-col rounded-xl border cursor-pointer mb-6 mr-6 no-underline;

          width: calc(50% - 1.5rem);
          border-color: var(--purple-40);
          min-height: 190px;

          h5 {
            @apply m-4 flex-grow;
          }

          .arrow {
            @apply flex p-4 border-t;

            border-color: var(--purple-40);
          }

          &:hover {
            background-color: var(--white);

            h5 {
              color: var(--purple-90);
            }

            .arrow {
              @apply justify-end;
            }
          }
        }
      }

      .forParentsText {
        @apply w-1/2 px-14;
      }

      .el11 {
        position: absolute;
        top: -2%;
        right: 10%;
      }

      .el12 {
        position: absolute;
        left: -1%;
        bottom: 45%;
      }

      .el13 {
        position: absolute;
        right: 25%;
        bottom: 8%;
      }
    }
  }
}

@media only screen and (min-width: 1145px) {
  .HomeV2 {
    section.howItWorksColumns {
      @apply justify-center overflow-x-hidden;
      .dummy {
        @apply hidden;
      }
    }
  }
}

.HomeV2 {
  .wrapper {
    width: 100vw;
  }

  @media only screen and (min-width: 1320px) {
    .wrapper {
      @apply rounded-xl px-12 mx-auto box-content;
      width: var(--max-width);

      .importantItems {
        @apply pr-8;
      }
    }
  }
}

@mixin for-size-tablet-or-phone {
  .HomeV2 {
    @apply pb-0;

    section {
      &.testingProgram {
        h1 {
          @mixin h2;
        }

        .testingProgramText {
          @apply w-1/2;
        }
        .people {
          @apply w-1/2 relative;
        }
        .el5 {
          @apply hidden;
        }
      }

      &.whyImportant {
        @apply flex-col rounded-none;

        h2 {
          @mixin h3;
        }

        .importantItems {
          @apply w-full flex-nowrap m-0 px-5 pt-4 pb-6 mb-4 justify-start overflow-x-scroll;

          width: 100vw;

          &::-webkit-scrollbar {
            height: 6px;
          }
          &::-webkit-scrollbar-track {
            border-radius: 3px;
            margin-right: 3.5rem;
            margin-left: 3.5rem;
            background-color: transparent;
          }
          &::-webkit-scrollbar-thumb {
            border-radius: 3px;
            background-color: transparent;
          }
          &::-webkit-scrollbar-thumb:hover {
            background-color: transparent;
          }
          &::-webkit-scrollbar-thumb:active {
            background-color: transparent;
          }

          .importantItem {
            @apply rounded-xl mr-6 pl-4;

            min-width: 200px;
            box-shadow: 0px 4px 20px #6d71f91e;
          }
          .dummy {
            @apply block;
            min-width: 0;
          }
        }

        .importantText {
          @apply w-full;
        }

        .el4,
        .el7 {
          @apply hidden;
        }
      }

      &.trainingMaterials {
        h2 {
          @mixin h3;
        }
      }

      &.howItWorks {
        h2 {
          @mixin h3;
        }
      }

      &.howItWorksColumns {
        @apply justify-start overflow-x-scroll;

        padding-left: 3.5rem;
        padding-right: 3.5rem;
        max-width: 100vw;

        .step {
          .subStep {
            min-width: 160px;
          }
        }
        .dummy {
          @apply block;
          min-width: 3.5rem;
        }
      }

      &.forParents {
        @apply flex-col-reverse rounded-none;

        h2 {
          @mixin h3;
        }

        .forParentsTiles,
        .forParentsText {
          @apply w-full px-0;
        }

        .forParentsText {
          @apply mb-6;
        }

        .el11,
        .el12,
        .el13 {
          @apply hidden;
        }
      }
    }
  }
}

@mixin for-size-phone {
  .HomeV2 {
    section {
      &.testingProgram {
        @apply flex-col;

        .testingProgramText {
          @apply w-full;
        }
        .people {
          @apply w-full mt-8;
        }
      }
      &.whyImportant {
        .importantItems {
          @apply px-5;
          .dummy {
            max-width: 0;
          }
        }
      }
      &.trainingMaterials {
        @apply flex-col-reverse;

        .trainingMaterialsText {
          @apply w-full;
        }
        .trainingMaterialsPicture {
          @apply w-full mb-8;
        }
      }
      &.howItWorksColumns {
        @apply flex-col items-center m-0 overflow-auto;

        hr {
          @apply hidden;
        }
        .step {
          h5 {
            @apply mt-2;
          }
          > div {
            @apply flex-row;

            .subStep {
              @apply mt-3 mb-0;
              width: unset;
              min-width: unset;

              & + .subStep {
                @apply ml-8;
              }
            }
            .wide {
              @apply flex;

              img {
                @apply mr-4;
              }
            }
          }
        }
        .divider {
          @apply hidden;
        }
        .dividerPhone {
          @apply block;

          &.first {
            margin-bottom: -54px;
          }
        }
      }
      &.forParents {
        .forParentsTiles {
          .forParentsTile {
            @apply w-full mr-0;
            min-height: unset;
          }
        }
      }
    }
  }
}
