@import '../../assets/styles/mixins.css';

.HomeV2 {
  @apply pb-8;

  section {
    &.testingProgram {
      @apply flex items-center py-8 px-14;

      .testingProgramText {
        @apply w-1/2;
      }
      .thumbsUp {
        @apply w-1/2 relative;

        .el5 {
          position: absolute;
          left: 7%;
          bottom: 4%;
        }
      }
    }

    &.whyImportant {
      @apply relative flex items-center py-8 rounded-xl px-14;

      .importantItems {
        @apply w-1/2 flex flex-wrap justify-around;

        .importantItem {
          @apply w-1/2 p-4;

          max-width: 200px;
        }
        .dummy {
          @apply hidden;
        }
      }

      .importantText {
        @apply w-1/2;
      }

      .el4 {
        position: absolute;
        right: 12%;
        bottom: 8%;
      }

      .el7 {
        position: absolute;
        right: 3%;
        top: 25%;
      }
    }

    &.trainingMaterials {
      @apply flex items-center py-8 px-14;

      .trainingMaterialsText,
      .trainingMaterialsPicture {
        @apply w-1/2;
      }
    }

    &.howItWorks {
      @apply px-14 py-8 w-full text-center;
    }

    &.howItWorksColumns {
      @apply flex justify-around my-8 px-14;

      hr {
        @apply my-4 border-t border-b;

        border-color: var(--purple-30);
      }

      .step {
        @apply flex flex-col;

        min-width: 160px;
        max-width: 160px;

        h5 {
          @apply mb-1;
        }

        & > div {
          @apply flex-grow flex flex-col justify-center;

          .subStep {
            @apply p-4 my-6 rounded-xl;
          }
        }
      }
      .dummy {
        @apply hidden;
      }
    }

    &.forParents {
      @apply relative flex items-center p-14 rounded-xl;

      gap: 1rem;

      .forParentsItems {
        @apply w-1/2 flex flex-wrap justify-around;

        gap: 2rem;

        .forParentsItem {
          @apply flex flex-col rounded-xl border cursor-pointer;

          width: calc(50% - 1rem);
          border-color: var(--purple-40);
          //max-width: 200px;

          h5 {
            @apply m-4 flex-grow;
          }

          .arrow {
            @apply flex p-4 border-t;

            border-color: var(--purple-40);
          }

          &:hover {
            background-color: var(--white);

            h5 {
              color: var(--purple-90);
            }

            .arrow {
              @apply justify-end;
            }
          }
        }
      }

      .forParentsText {
        @apply w-1/2 px-14;
      }

      .el11 {
        position: absolute;
        top: -2%;
        right: 10%;
      }

      .el12 {
        position: absolute;
        left: -1%;
        bottom: 45%;
      }

      .el13 {
        position: absolute;
        right: 25%;
        bottom: 8%;
      }
    }
  }
}

@mixin for-size-tablet-or-phone {
  .HomeV2 {
    @apply pb-0;

    section {
      &.testingProgram {
        @apply px-8;

        .el5 {
          @apply hidden;
        }
      }

      &.whyImportant {
        @apply flex-col rounded-none;

        margin-left: -1.5rem;
        margin-right: -1.5rem;

        .importantItems {
          @apply w-full flex-nowrap m-0 mb-6 px-14 py-4 justify-start overflow-x-scroll;

          margin-right: -5.5rem;
          margin-left: -5.5rem;
          width: 100vw;
          gap: 1.5rem;

          .importantItem {
            @apply rounded-xl;

            min-width: 200px;
            box-shadow: 0px 4px 20px #6d71f91e;
          }
          .dummy {
            @apply block;
            min-width: 2rem;
          }
        }

        .importantText {
          @apply w-full;
        }

        .el4,
        .el7 {
          @apply hidden;
        }
      }

      &.trainingMaterials {
        @apply px-8;
      }

      &.howItWorksColumns {
        @apply justify-start overflow-x-scroll px-8;

        max-width: calc(100vw - 3rem);
        gap: 90px;
        .dummy {
          @apply block;
          min-width: 1rem;
        }
      }

      &.forParents {
        @apply flex-col-reverse rounded-none;

        margin-left: -1.5rem;
        margin-right: -1.5rem;

        .forParentsItems,
        .forParentsText {
          @apply w-full px-0;
        }

        .el11,
        .el12,
        .el13 {
          @apply hidden;
        }
      }
    }
  }
}

@mixin for-size-phone {
  .HomeV2 {
    section {
      &.testingProgram {
        @apply flex-col;

        .testingProgramText {
          @apply w-full;
        }
        .thumbsUp {
          @apply w-full mt-8;
        }
      }
      &.trainingMaterials {
        @apply flex-col-reverse;

        .trainingMaterialsText {
          @apply w-full;
        }
        .trainingMaterialsPicture {
          @apply w-full mb-8;
        }
      }
      &.howItWorks {
        @apply px-2;
      }
      &.forParents {
        .forParentsItems {
          .forParentsItem {
            @apply w-full;
          }
        }
      }
    }
  }
}
