select {
  @apply w-full border px-4 py-2 rounded mt-1;

  border-color: #D1D8DC;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

.select-label {
  @apply inline-block text-blue text-sm mt-2;
}

.select-label.required::after {
  content: '*';

  @apply font-bold text-dark-red ml-1;
}

.select option:disabled {
  @apply text-opacity-10;
}