@import '../../assets/styles/mixins.css';

.LayoutV2 {
  @apply flex flex-col;

  position: relative;
  min-height: 100vh;
  color: var(--text-color);
  background-color: var(--background-color);

  .bg {
    position: absolute;
    z-index: 0;
  }

  .bga {
    position: fixed;
    z-index: 0;
  }

  .bga1 {
    left: 0;
    bottom: 0;
  }

  .bga2 {
    right: 0;
    bottom: 0;
  }

  .bgd {
    position: fixed;
    z-index: 0;
  }

  .bgd1 {
    left: 0;
    bottom: 96px;
  }

  .bgd3 {
    right: 0;
    bottom: 96px;
  }

  .bg1 {
    left: 0;
    top: 5%;
  }

  .bg2 {
    left: 0;
    top: 35%;
  }

  .bg3 {
    left: 0;
    bottom: 15%;
  }

  .bg4 {
    right: 0;
    top: 5%;
  }

  .bg5 {
    right: 0;
    bottom: 4%;
  }

  .content {
    @apply flex-grow;

    z-index: 1;
  }

  .limitWidth {
    @apply px-5 mx-auto w-full;
    max-width: var(--max-width);
  }
}

@mixin for-size-phone {
  .bga,
  .bgd {
    @apply hidden;
  }
}

@mixin for-size-tablet-or-phone {
  .bg2,
  .bg3,
  .bg5 {
    @apply hidden;
  }
  .bga1 {
    width: 150px;
  }
  .bga2 img {
    width: 320px;
  }
  .bg1 {
    img {
      width: 64px;
    }
  }
  .bg4 {
    img {
      width: 98px;
    }
  }
}
