.form-grid {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 1fr;
  gap: 0 1rem;
  grid-template-areas:
    "form info";
}

.form { grid-area: form; }
.info { grid-area: info; }

.request-form.isSuccess {
  @apply hidden;
}

.request-success {
  @apply flex justify-center pt-24 opacity-0 h-0 w-0;
}

.request-success.isSuccess {
  @apply opacity-100 h-full w-full;

  transition: opacity 500ms ease-in-out;
}

.column-list {
  sup {
    @apply font-bold text-dark-red;
  }
}