h1, h2, h3 {
  @apply font-bold text-blue;
}

h1 {
  @apply text-3xl mb-8;
}

h2 {
  @apply text-2xl mt-8 mb-4;
}

.static {
  @apply mt-12;
}

.static-content div {
  @apply flex;
}

.static-content ul li,
.static-content ol li {
  @apply font-bold text-lg;
}

.static-content ol ul li {
  @apply font-normal;
}

.static-content ul li ul li {
  @apply ml-4 font-normal text-base py-1;
}

.prose {
  h3 {
    @apply mt-0;

    line-height: unset;
  }

  li:first-child {
    margin-top: 0;
  }
}

.toc-item {
  a {
    @apply no-underline;
  }
}

.prose ol > li.toc-item {
  @apply pl-2;

  a {
    @apply text-blue;
  }
}

.prose ol > li.toc-item::before {
  content: ''
}

.prose ol:last-child {
  @apply mb-0;
}

.page-outline {
  @apply fixed w-1/3 max-w-xs mr-8 mt-16 bg-blue-lightest px-2 py-4 rounded;

  ol {
    @apply mt-0;
  }
}

.page-outline + ol {
  @apply w-2/3 mt-16 mb-8;

  margin-left: 33%;
}