.header {
  @apply fixed top-0 right-0 left-0 grid bg-white py-4 z-10 shadow;

  grid-template-columns: 1fr 50% 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "logo nav links";

  padding-left: 8.5vw;
  padding-right: 8.5vw
}

.isLandingPage .header {
  @apply bg-transparent border-b-0 shadow-none;
}

.login-btn {
  @apply bg-transparent font-bold rounded px-6 py-2 text-sm outline-none focus:outline-none text-blue;
}

.isLandingPage .login-btn {
  @apply text-purple
}

.logo {
  max-width: 200px;
  grid-area: logo;
}

.links {
  @apply flex justify-end py-1;

  grid-area: links;
}

.nav {
  @apply flex w-full items-center justify-between;

  grid-area: nav;
}

.nav-link {
  @apply font-bold text-sm text-blue text-opacity-75 py-2 px-4;

  transition: all 250ms ease;
}

.nav-link.active {
  @apply text-opacity-100 border-b-2 border-dark-blue;
}

.nav-link:hover {
  @apply text-opacity-100;
}