.rt-header {
  @apply fixed top-0 right-0 left-0 grid bg-white shadow;

  /* Map z-index is 400 */
  z-index: 401;
  grid-template-columns: 1fr 45% 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: 'logo nav links';

  padding-left: 8.5vw;
  padding-right: 8.5vw;
}

.login-btn {
  @apply bg-transparent font-bold rounded px-6 py-2 text-sm outline-none focus:outline-none text-blue;
}

.logo {
  @apply py-2;

  max-width: 200px;
  grid-area: logo;
}

.links {
  @apply flex justify-end items-center;

  grid-area: links;
}

.nav {
  @apply flex w-full h-full items-center justify-between;

  grid-area: nav;
}

.nav li {
  @apply h-full flex items-center;
}

.nav-link {
  @apply flex items-center relative font-bold text-sm text-blue text-opacity-75 p-4 inline-block h-full;

  transition: all 250ms ease;
}

.nav-link.active {
  @apply text-opacity-100;
}

.nav-link::before {
  @apply bg-blue absolute w-full bottom-0 left-0 invisible;

  content: '';
  height: 1px;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.nav-link:hover {
  @apply text-opacity-100;
}

.nav-link:hover::before,
.nav-link.active::before {
  @apply visible;

  transform: scaleX(1);
}
