.footer {
  @apply text-blue border-t border-gray-400 flex justify-between items-center w-screen;

  height: 50px;
  margin-left: -8.5vw;
  padding-left: 8.5vw;
  padding-right: 8.5vw;
}

.isLandingPage .footer {
  @apply bg-transparent text-dark-grey border-t border-dark-grey;
}

.footer-links > * {
  @apply mr-4;
}