.footer {
  @apply bg-blue text-white flex justify-between items-center fixed bottom-0 left-0 right-0;

  height: 50px;
  padding-left: 8.5vw;
  padding-right: 8.5vw;
}

.isLandingPage .footer {
  @apply bg-transparent text-dark-grey border-t border-dark-grey;
}

.footer-links > * {
  @apply mr-4;
}