.tableWrapper {
  height: 60vh;
  overflow-y: scroll;
}

.pagination {
  @apply py-4 pl-3 fixed bg-white;

  bottom: 50px;
  right: 5vw;
  left: 5vw;
}

.pagingButtons {
  @apply flex items-center;
}

.pagingButton {
  @apply px-4;
}

.pagingButton:hover {
  @apply text-blue;
}

.pagingButton:disabled {
  @apply text-gray-400 cursor-not-allowed;
}