.tableWrapper {
  height: 60vh;
  overflow-y: scroll;
}

.paginationWrapper {
  @apply flex justify-between py-4 pl-3 fixed bg-white;

  bottom: 50px;
  right: 5vw;
  left: 5vw;
}

.pagination {
  @apply flex font-semibold;
}

.pagination .active {
  @apply text-dark-blue font-black;
}

.pagination .disabled {
  @apply text-gray-400 cursor-not-allowed;
}

.pagination a {
   @apply px-4;
}

.pagingButtons {
  @apply flex items-center;
}

.pagingButton {
  @apply px-4;
}

.pagingButton:hover {
  @apply text-blue;
}

.pagingButton:disabled {
  @apply text-gray-400 cursor-not-allowed;
}