@import '../../assets/styles/mixins.css';

.HowItWorksColumns {
  @apply flex justify-start overflow-x-scroll my-8;

  /*max-width: 100vw;*/

  .path {
    stroke-width: 2;
    stroke-dasharray: 4 6;
    animation: dash 0.75s linear reverse infinite;
  }

  .pathReverse {
    stroke-width: 2;
    stroke-dasharray: 4 6;
    animation: dash 0.75s linear infinite;
  }

  @keyframes dash {
    to {
      stroke-dashoffset: 10;
    }
  }

  &::-webkit-scrollbar {
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    @apply mx-5;

    border-radius: 3px;
    background-color: var(--purple-20);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: var(--purple-30);
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--purple-40);
  }
  &::-webkit-scrollbar-thumb:active {
    background-color: var(--purple-40);
  }

  hr {
    @apply my-4 border-t border-b;

    border-color: var(--purple-30);
  }

  .step {
    @apply flex flex-col;

    .subStep {
      width: 150px;
    }

    h5 {
      @apply mb-1;
    }

    & > div {
      @apply flex-grow flex flex-col justify-center;

      .subStep {
        @apply p-4 my-6 rounded-xl;
      }
    }
  }
  .divider {
    @apply flex items-center;
    max-width: 89px;
    margin-top: 60px;
  }
  .dividerPhone {
    @apply hidden;
  }
  .dummy {
    @apply block;
    min-width: 1.25rem;
  }
}

@media only screen and (min-width: 1145px) {
  .HowItWorksColumns {
    @apply justify-center overflow-x-hidden;
    .dummy {
      @apply hidden;
    }
  }
}

@mixin for-size-tablet-or-phone {
  .HowItWorksColumns {
    @apply justify-start overflow-x-scroll;

    padding-left: 3.5rem;
    padding-right: 3.5rem;
    /*max-width: 100vw;*/

    .step {
      .subStep {
        min-width: 160px;
      }
    }
    .dummy {
      @apply block;
      min-width: 3.5rem;
    }
  }
}

@mixin for-size-phone {
  .HowItWorksColumns {
    @apply flex-col items-center m-0 overflow-auto;

    hr {
      @apply hidden;
    }
    .step {
      h5 {
        @apply mt-2;
      }
      > div {
        @apply flex-row;

        .subStep {
          @apply mt-3 mb-0;
          width: unset;
          min-width: unset;

          & + .subStep {
            @apply ml-8;
          }
        }
        .wide {
          @apply flex;

          img {
            @apply mr-4;
          }
        }
      }
    }
    .divider {
      @apply hidden;
    }
    .dividerPhone {
      @apply block;

      &.first {
        margin-bottom: -54px;
      }
    }
  }
}
