.homeCard {
  @apply flex justify-center items-center font-semibold p-8 text-3xl rounded-lg w-1/5 h-64 mr-8;

  transition: all 250ms ease;
}

.homeCard:last-child {
  @apply mr-0;
}

.homeCard:hover {
  @apply cursor-pointer shadow-xl;

  transform: scale(1.05);
}

.two-column {
  column-count: 2;
  column-gap: 4rem;
  column-fill: auto;
}