@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  [class*="btn-"] {
    transition: all 250ms ease;
  }

  .btn-primary {
    @apply bg-blue text-white border-dark-blue rounded px-4 py-2 font-bold uppercase shadow outline-none focus:outline-none text-sm;
  }

  .btn-primary:hover {
    @apply shadow-lg bg-dark-blue;
  }

  .btn-clear {
    @apply bg-transparent font-bold uppercase rounded px-6 py-2 text-sm outline-none focus:outline-none;
  }

  .btn-clear:hover:not(:disabled) {
    @apply bg-gray-300;
  }

  .btn-clear:disabled {
    @apply text-gray-500 cursor-not-allowed;
  }

  .btn-white {
    @apply bg-white text-dark-blue rounded px-4 py-2 font-bold uppercase shadow outline-none focus:outline-none text-sm;
  }

  .btn-white:hover {
    @apply shadow-lg bg-blue text-white;
  }
}

