@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #565663;
}

/* html, body, .App, #root {
  height: 100%;
} */

.leaflet-top,
.leaflet-bottom {
  z-index: 400;
}

@layer components {
  [class*='btn-'] {
    transition: all 250ms ease;
  }

  .btn-primary {
    @apply bg-blue-light text-white rounded px-4 py-2 font-bold shadow outline-none focus:outline-none text-sm;
  }

  .btn-primary:hover {
    @apply shadow-lg bg-blue;
  }

  .btn-primary:disabled {
    @apply bg-opacity-50 cursor-not-allowed;
  }

  .btn-clear {
    @apply bg-transparent font-bold rounded px-6 py-2 text-sm outline-none focus:outline-none;
  }

  .btn-outline-primary {
    @apply border border-blue-light text-blue-light rounded px-4 py-2 font-bold outline-none focus:outline-none text-sm;
  }

  .btn-outline-primary:hover {
    @apply bg-blue text-white;
  }

  .btn-clear {
    @apply border border-transparent bg-transparent text-blue font-bold rounded px-6 py-2 text-sm outline-none focus:outline-none;
  }

  .btn-clear:hover:not(:disabled) {
    @apply border border-blue;
  }

  .btn-clear:disabled {
    @apply text-gray-500 cursor-not-allowed;
  }

  .btn-white {
    @apply bg-white text-blue-dark rounded px-4 py-2 font-bold shadow outline-none focus:outline-none text-sm;
  }

  .btn-white:hover {
    @apply shadow-lg bg-blue text-white;
  }

  .btn-link {
    @apply text-blue underline outline-none;
  }

  .btn-link:focus {
    @apply outline-none;
  }

  .btn-row {
    @apply flex;
  }

  .btn-row.end {
    @apply justify-end;
  }

  .LayoutV1 {
    a:not([role='button']):not([class*='btn-']):not(.nav-link):not(.page-link) {
      @apply underline text-blue;
    }

    a:not([role='button']):not([class*='btn-']):not(.nav-link):hover,
    .btn-link:hover {
      text-shadow: -0.25px -0.25px 0 rgba(0, 82, 141, 0.25),
        0.25px -0.25px 0 rgba(0, 82, 141, 0.25),
        -0.25px 0.25px 0 rgba(0, 82, 141, 0.25),
        0.25px 0.25px 0 rgba(0, 82, 141, 0.25);

      transition: all 500ms ease;
    }
  }

  .LayoutV2 {
    .btn-clear {
      color: var(--purple-70);
    }

    .btn-clear:hover:not(:disabled) {
      @apply border-transparent;
      color: var(--purple-70);
    }

    .btn-clear:disabled {
      color: var(--purple-70);
    }
  }

  .full-height {
    min-height: calc(100vh - 130px);
    max-height: calc(100vh - 130px);
  }

  .headline {
    @apply text-blue;

    font-size: 2.5rem;
    line-height: 2.75rem;
    font-weight: 700;
  }

  .sub-heading {
    @apply text-2xl font-bold;
  }
}

.Toastify__toast-container {
  width: fit-content !important;
}

.rt-toast.Toastify__toast--success {
  @apply bg-dark-green;
}
