@import 'typography.css';

.LayoutV2 {
  @mixin body;

  .highlighted {
    background-color: var(--white);
  }

  .inverted {
    background-color: var(--purple-90);
    color: var(--purple-10);
  }

  h1,
  .h1 {
    @mixin h1;
    color: var(--purple-100);
  }
  .inverted h1 {
    color: var(--white);
  }

  h2,
  .h2 {
    @mixin h2;
  }
  .inverted h2 {
    color: var(--white);
  }

  h3,
  .h3 {
    @mixin h3;
  }
  .inverted h3 {
    color: var(--white);
  }

  h4,
  .h4 {
    @mixin h4;
  }
  .inverted h4 {
    color: var(--white);
  }

  h5,
  .h5 {
    @mixin h5;
  }
  .inverted h5 {
    color: var(--white);
  }

  h6,
  .h6 {
    @mixin h6;
  }
  .inverted h6 {
    color: var(--white);
  }

  a {
    @mixin text-link;
    color: var(--purple-70);
    text-decoration: underline;
  }

  .badge {
    @mixin label;
    color: var(--purple-100);

    display: inline-block;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: var(--orange-10);
  }

  .inverted .badge {
    color: var(--purple-90);
    background-color: var(--purple-20);
  }

  .tooltip {
    @mixin tooltip;
  }
}
