.LayoutV2 {
  font-family: 'Avenir Next', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.02em;

  .inverted {
    background-color: var(--purple-90);
    color: var(--purple-10);
  }

  h1 {
    font-family: Merriweather, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0.02em;
    color: var(--purple-100);
  }
  .inverted h1 {
    color: var(--white);
  }

  h2 {
    font-family: Merriweather, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.02em;
    color: var(--purple-100);
  }
  .inverted h2 {
    color: var(--white);
  }

  h3 {
    font-family: Merriweather, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: var(--purple-100);
  }
  .inverted h3 {
    color: var(--white);
  }

  h4 {
    font-family: Merriweather, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: var(--purple-100);
  }
  .inverted h4 {
    color: var(--white);
  }

  h5 {
    font-family: 'Avenir Next', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: var(--purple-100);
  }
  .inverted h5 {
    color: var(--white);
  }

  h6 {
    font-family: 'Avenir Next', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--purple-100);
  }
  .inverted h6 {
    color: var(--white);
  }

  a small {
    font-family: 'Avenir Next', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-decoration: underline;
    color: var(--purple-70);
  }

  .tooltip {
    font-family: 'Avenir Next', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.02em;
  }

  .badge {
    font-family: 'Avenir Next', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--black);

    display: inline-block;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: var(--orange-10);
  }

  .inverted .badge {
    color: var(--purple-90);
    background-color: var(--purple-20);
  }
}
