@define-mixin h1 {
  font-family: Merriweather, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: 0.02em;
}

@define-mixin h2 {
  font-family: Merriweather, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.02em;
}

@define-mixin h3 {
  font-family: Merriweather, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.02em;
}

@define-mixin h4 {
  font-family: Merriweather, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.02em;
}

@define-mixin h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

@define-mixin h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

@define-mixin body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.02em;
}

@define-mixin text-link {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.02em;
}

@define-mixin badge {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@define-mixin tooltip {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.02em;
}
