:root {
  --max-width: 1168px;

  --black: #000000;
  --white: #ffffff;

  --purple-100: #1c295d;
  --purple-90: #2f4083;
  --purple-80: #4257aa;
  --purple-70: #5b5ff0;
  --purple-40: #787abe;
  --purple-30: #c7c8eb;
  --purple-20: #e3e4ff;
  --purple-10: #f8f8fd;
  --purple-10-ff: #f8f8fdff;
  --purple-10-00: #f8f8fd00;

  --orange-80: #faa95f;
  --orange-10: #ffeede;

  --yellow-90: #f9da6d;

  --red: #e93535;

  --text-color: var(--purple-90);
  --background-color: var(--purple-10);
}
